@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('/node_modules/bootstrap-icons/font/bootstrap-icons.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield !important;
    }

    body {
        @apply bg-background
    }

    h1 {
        @apply font-rubik font-bold
    }

    p, router-link {
        @apply font-varela
    }

    h2, h3, h4, h5 {
        @apply font-rubik font-semibold
    }

	.inputFocusWithin{
		@apply focus-within:shadow-xl focus-within:border-green focus-within:border-2
	}
	.inputFocus{
		@apply focus:shadow-xl focus:ring-green focus:ring-2 focus:outline-none
	}

    #app {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

}
